/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: hsl(181, 100%, 35%);
	--ifm-color-primary-dark: hsl(181, 100%, 30%);
	--ifm-color-primary-darker: hsl(181, 100%, 25%);
	--ifm-color-primary-darkest: hsl(181, 100%, 20%);
	--ifm-color-primary-light: hsl(181, 100%, 50%);
	--ifm-color-primary-lighter: hsl(181, 100%, 55%);
	--ifm-color-primary-lightest: hsl(181, 100%, 60%);
	--ifm-h6-font-size: .75rem;

	/* Button */
	--ifm-button-color: #fff;
	--ifm-button-padding-vertical: .5rem;

	--ifm-toc-border-color: transparent;
	--ifm-breadcrumb-item-background-active: transparent;
	--ifm-breadcrumb-color-active: inherit;
	--ifm-breadcrumb-padding-horizontal: 0;

	/* Code */
	--ifm-code-font-size: 87.5%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, .1);

	/* Custom colors: from Tailwind */
	--color-blue: #3b82f6;
	--color-green: #22c55e;
	--color-amber: #f59e0b;
	--color-red: #ef4444;
	--color-cyan: #06b6d4;
	--color-pink: #ec4899;

	/* Meta Box blue shades */
	--color-base: hsl(210, 29%, 24%);
	--color-dark: hsl(210, 30%, 18%);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
	--ifm-navbar-background-color: var(--color-base);
	--ifm-footer-background-color: var(--color-base);
	--collapse-button-bg-color-dark: var(--color-base);
	--ifm-background-color: var(--color-dark);
	--ifm-navbar-search-input-background-color: var(--color-dark);

	--ifm-color-emphasis-100: var(--color-base);
	--ifm-color-emphasis-200: var(--color-base);

	--ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');

	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, .3);
}

/* Colors */
.color-blue {
	--color: var(--color-blue);
}

.color-green {
	--color: var(--color-green);
}

.color-amber {
	--color: var(--color-amber);
}

.color-red {
	--color: var(--color-red);
}

.color-cyan {
	--color: var(--color-cyan);
}

.color-pink {
	--color: var(--color-pink);
}

/* Navbar */
.navbar {
	font-size: var(--ifm-h5-font-size);
}

.navbar__link--active {
	color: var(--ifm-navbar-link-color);
}

/* Homepage: hero section */
.hero {
	background: var(--ifm-color-emphasis-100);
	color: inherit;
	overflow: visible;
	text-align: center;
	position: relative;

	--search-local-modal-width: 100%;
}

[data-theme='dark'] .hero {
	--ifm-hero-text-color: #fff;
}

.hero .navbar__search {
	width: 40rem;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: var(--ifm-font-color-base);
	text-align: left;
}

.hero .navbar__search>span {
	width: 100%;
}

.hero .navbar__search-input {
	width: 100% !important;
	height: 3rem;
	padding-left: 3rem;
	background-position: 1.5rem center;
}

.hero .searchHintContainer_node_modules-\@easyops-cn-docusaurus-search-local-dist-client-client-theme-SearchBar-SearchBar-module {
	right: 1.5rem;
}

.hero .searchBar_node_modules-\@easyops-cn-docusaurus-search-local-dist-client-client-theme-SearchBar-SearchBar-module .dropdownMenu_node_modules-\@easyops-cn-docusaurus-search-local-dist-client-client-theme-SearchBar-SearchBar-module {
	left: 0 !important;
	right: 0 !important;
}

.hero__title {
	max-width: min(100%, 36ch);
	margin-inline: auto;
}

.hero_popular {
	margin-top: .5rem;
}

.hero_cta {
	margin-bottom: 4rem;
}

/* Menu */
.menu {
	--ifm-menu-color-background-active: transparent;
	--ifm-menu-color-active: var(--ifm-color-primary);
	--ifm-menu-color-background-hover: transparent;
	font-weight: 400;
}

.menu__link,
.menu__caret,
.menu__list-item-collapsible {
	outline: none;
}

.menu__caret:before,
.menu__link--sublist:after {
	background-size: 1.25rem 1.25rem;
}

.menu__caret {
	margin: 0;
}

.menu__caret:hover {
	background: none;
}

.menu__link {
	font-size: var(--ifm-h5-font-size);
	border-radius: 0;
}

.menu__list-item-collapsible>.menu__link {
	font-weight: 600;
	color: var(--ifm-font-color-base);
}

.menu__list-item.theme-doc-sidebar-item-category {
	margin-top: .5rem;
}

.theme-doc-sidebar-item-category-level-1>.menu__list-item-collapsible>.menu__link {
	text-transform: uppercase;
	font-size: var(--ifm-h6-font-size);
	letter-spacing: .05em;
}

.menu__list ul.menu__list {
	padding-left: 0;
	margin-left: var(--ifm-menu-link-padding-horizontal);
	border-left: 1px solid var(--ifm-color-emphasis-100);
}

.menu__list ul a {
	border-left: 1px solid transparent;
	margin-left: -1px;
}

/* Hover & active */
.menu__link:hover,
.menu__link--active,
.menu__list-item-collapsible>.menu__link:hover,
.menu__list-item-collapsible>.menu__link--active {
	color: var(--ifm-menu-color-active);
	border-left-color: var(--ifm-menu-color-active);
}


/* Content */
.markdown h1:first-child,
h1.title_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocCategoryGeneratedIndexPage-styles-module {
	--ifm-h1-font-size: 2rem;
}

.markdown>h2 {
	--ifm-h2-font-size: 1.5rem;
}

.markdown>h3 {
	--ifm-h3-font-size: 1.25rem;
}

.markdown img {
	box-shadow: 0 0 2px rgba(0, 0, 0, .3);
	border-radius: var(--ifm-global-radius);
}

.markdown img {
	max-height: 400px;
	width: auto;
	display: block;
	margin-inline: auto;
	margin-bottom: var(--ifm-leading);
}

.markdown>p>img,
figure>img {
	cursor: zoom-in;
}

code {
	border: none;
	background: none;
	padding: 0;
	color: #e3116c;
}

html[data-theme='dark'] code {
	color: #c3e88d;
}

.yt-lite {
	margin-bottom: var(--ifm-paragraph-margin-bottom);
}

/* Field screenshots and settings in a gallery */
.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

@media (max-width: 767px) {
	.gallery {
		grid-template-columns: 1fr;
	}
}

figure {
	margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

figcaption {
	font-size: var(--ifm-h5-font-size);
	text-align: center;
}

.gallery img {
	margin-bottom: .5rem;
}

/* Table of contents */
.table-of-contents {
	--ifm-code-font-size: 100%;
}

/* Table */
table {
	display: table;
	width: 100%;
	font-size: var(--ifm-h5-font-size);
	--ifm-table-cell-padding: 6px 12px;
	--ifm-code-font-size: 100%;
}

table th,
table td {
	border: none;
}

table tr {
	border-top: none;
	border-bottom: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

table th {
	text-align: left;
}

/* Tabs */
.tabs-container {
	margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.tabs {
	gap: .25rem;
	z-index: 2;
	margin-bottom: -3px;
}

.tabs__item {
	--ifm-tabs-padding-vertical: 8px;
	--ifm-tabs-color-active: #fff;

	border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;
	border-bottom: none;
	background: var(--ifm-hover-overlay);
}

.tabs__item--active,
.tabs__item--active:hover {
	background: var(--ifm-tabs-color-active-border);
}

.tabs-container>div {
	margin: 0 !important;
	padding: 1rem;
	border: 3px solid var(--ifm-hover-overlay);
	z-index: 1;
}

/* FAQ */
.faqLink {
	color: var(--ifm-color-secondary-darkest);
	font-size: var(--ifm-h5-font-size);
	text-decoration: none;
}

.faqLink:hover {
	text-decoration: none;
}

summary {
	font-weight: 700;
}

/* Field types thumbnails */
.thumbs {
	display: grid;
	grid-template-columns: repeat(auto-fit, 222px);
	gap: 2rem;
}

@media (max-width: 479px) {
	.thumbs {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

.thumbs p {
	margin-bottom: 0;
}

.thumbs a {
	display: block;
	font-size: var(--ifm-h4-font-size);
	color: #fff;
	font-weight: 700;
	border: 1px solid var(--color);
	border-radius: var(--ifm-global-radius);
	transition: all var(--ifm-transition-fast) ease;
}

.thumbs img {
	margin-bottom: 0;
	box-shadow: none;
	border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;
}

.thumb_text {
	text-align: center;
	display: block;
	padding: .5rem;
	background: var(--color);
	border-radius: 0 0 var(--ifm-global-radius) var(--ifm-global-radius);
	transition: all var(--ifm-transition-fast) ease;
}

.thumbs a:hover {
	text-decoration: none;
	box-shadow: var(--ifm-global-shadow-tl);
}

[data-theme='dark'] .thumbs a {
	border: none;
	display: inline-block;
}

/* Card */
.card.card,
.card.card:hover {
	border-color: transparent;
	background: none;
	box-shadow: none;
	padding: 1rem 0 !important;
}

.card.card h2 {
	transition: all var(--ifm-transition-fast) ease;
}

.card.card:hover h2 {
	color: var(--ifm-color-primary);
}

/* Alert */
.admonition {
	--ifm-color-info-dark: var(--color-blue);
	--ifm-color-warning-dark: var(--color-amber);
	--ifm-color-success-dark: var(--color-green);

	--ifm-alert-background-color: var(--ifm-alert-border-color);
	--ifm-alert-foreground-color: #fff;
}

.admonition a {
	--ifm-alert-border-color: #fff;
	font-weight: 700;
	font-style: italic;
}

.admonition code {
	color: inherit;
}

/* Homepage */
.boxes {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.boxWrapper {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.box {
	font-size: var(--ifm-h4-font-size);
	border: 1px solid var(--color);
	border-radius: var(--ifm-global-radius);
	transition: all var(--ifm-transition-fast) ease;
}

.box header {
	color: #fff;
	background: var(--color);
	border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;
	padding: .75rem 1.5rem;
	font-size: var(--ifm-h5-font-size);
	transition: all var(--ifm-transition-fast) ease;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box h2 {
	text-transform: uppercase;
	font-size: var(--ifm-h5-font-size);
	margin: 0;
}

.box header a {
	color: #fff;
}

.box ul {
	margin: 0;
	padding: 1.5rem 1rem;
	list-style: none;
}

.box li {
	padding-left: 20px;
	background: url(/static/img/bx-chevron-right.svg) left center/18px no-repeat;
}

.box-start {
	--color: var(--color-blue);
}

.box-fields {
	--color: var(--color-green);
}

.box-extensions {
	--color: var(--color-amber);
}

.box-advanced {
	--color: var(--color-red);
}

.box-developer {
	--color: var(--color-cyan);
}

.box-references {
	--color: var(--color-pink);
}

.box-2 ul {
	columns: 2;
}

/* Footer */
.footer--dark {
	--ifm-footer-background-color: var(--color-base);
}

/* Pagination */
.pagination-nav {
	border-top: 1px solid var(--ifm-color-emphasis-100);
	padding-top: var(--ifm-global-spacing);
}

.pagination-nav__link {
	border: none;
	padding: 0;
}

/* Tutorials */
.tutorials img{
	border-radius: 0;
	width: 100%;
	max-height: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	margin: 0;
}
.tutorials h2 , .tutorials h3{
	margin: 0;
}
.banner .item1 { grid-area: item1; }
.banner .item2 { grid-area: item2; }
.banner .item3 { grid-area: item3; }
.banner .item4 { grid-area: item4; }
.banner{
	display: grid;
	grid-template-areas:
    'item1 item1 item2 item2'
    'item1 item1 item3 item4';
	grid-gap: 0.75rem;
}

.banner a{
	position: relative;
}
.banner a::before{
	content: '';
	background: linear-gradient(0deg, rgba(16, 19, 31, 0.9) 0%, rgba(16, 19, 31, 0.1) 100%);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}
.banner .category_title{
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 20px;
}
.banner .category{
	font-weight: 400;
	color: #fff;
	display: inline-block;
	margin-bottom: 10px;
}

.banner_left .category{
	padding: 0px 12px 4px 12px;
	background: #FFB800;
	font-size: 20px;
	line-height: 27px;
}
.banner_left .title{
	color: #fff;
	font-size: var( --ifm-h1-font-size );
	display: block;
}

.banner_right .category{
	padding: 2px 8px 4px 8px;
	background: #000;
	font-size: 14px;
	line-height: 17px;
}
.banner_right .title{
	color: #fff;
	display: block;
}

.banner_right.bottom .title{
	color: #fff;
	font-size: var( --ifm-h3-font-size ) ;
	display: block;
}

.trending{
	margin: 47px 0px;
	padding: 20px 22px;
	border: 1px solid #000;
}
.trending a{
	display: flex;
	align-items: center;
}

.trending .category{
	color: #fff;
	background: #000;
	font-size: var( --ifm-h2-font-size )  ;
	font-weight: bold;
	padding: 0px 8px 4px 8px;
}
.trending .title{
	color: #2B3D4F;
	font-size: var( --ifm-h3-font-size ) ;
	padding-left: 42px;
}
.trending a:hover{
	text-decoration: unset;
}
.tutorials-category{
	display: grid;
	grid-template-columns: repeat( 3, 1fr );
	column-gap: 2rem;
	row-gap: 4rem;
}

.tutorials-category .img_title a{
	position: relative;
	margin-bottom: 17px;
	display: block;
}
.tutorials-category .img_title a::before{
	content: '';
	background: linear-gradient(0deg, rgba(16, 19, 31, 0.9) 0%, rgba(16, 19, 31, 0.1) 100%);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}
.tutorials-category .heading{
	font-size: var( --ifm-h2-font-size ) ;
	color: #43A7AB;
	margin-bottom: 12px;
	display: block;
}
.tutorials-category .title{
	position: absolute;
	left: 20px;
	bottom: 20px;
	right: 20px;
	color: #fff;
	font-size: var( --ifm-h3-font-size ) ;
}
.tutorials-category ul{
	margin: 0;
	padding: 0;
	list-style-type: square;
}
.tutorials-category ul li{
	position: relative;
	font-size: 1.25rem;
	font-weight: 500;
	color: #2B3D4F;
	padding: 15px 15px 10px 15px;
	list-style-type: none;
	border-bottom: 1px solid #B4B4B4;
}
.tutorials-category ul li::before{
	content: "";
	width: 6px;
	height: 6px;
	background: #43A7AB;
	position: absolute;
	left: 0px;
	top: 30px;
}
.tutorials-category ul li a{
	color: #2B3D4F;
	font-size: var( --ifm-h4-font-size ) ;
}
.tutorials-category img{
	border-radius: 0;
	width: 100%;
	max-height: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	margin: 0;
	box-shadow: unset;
}
.tutorials-category .img_title a img[alt="hot tutorials"]{
	width: 39px;
	height: 62px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.tutorials-category .img_title a img[alt="video tutorials"]{
	width: 60px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.details-category .tutorials-category{
	margin-top: 60px;
}
.details-category .tutorials-category .heading{
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 19px;
}

.beginners .img_title a::before{
	background: unset;
}
.beginners .titles {
	color: #202E3C;
	font-size: var( --ifm-h3-font-size ) ;
	position: relative;
	margin-bottom: 19px;
	display: block;
}
.beginners a{
	color: #202E3C;
}
.beginners .tag{
	font-size: 16px;
	line-height: 19px;
	color: #202E3C;
}
.beginners .hash_tag a:not(:first-child) {
    margin-left: 23px;
}

@media ( max-width:767px ){
	.banner{
		grid-template-areas:'item1''item2''item3''item4';
	}
	.banner .category_title{
		left: 15px;
		bottom: 15px;
		right: 15px;
	}
	.banner .category{
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 5px;
	}
	.banner .title{
		font-size: 18px;
		line-height: 22px;
	}

	.trending .category{
		display: inline-block;
		font-size: 22px;
	}
	.trending .title{
		display: block;
		padding: 0;
		margin-top: 8px;
	}
	.tutorials-category{
		display: grid;
		grid-template-columns: repeat( 1, 1fr );
		grid-gap: 47px;
	}
	.tutorials-category .heading{
		font-size: 22px;
		margin-bottom: 15px;
	}
	.beginners .titles{
		font-size: 22px;
		margin-bottom: 10px;
	}

}