@tailwind utilities;

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
	--ifm-color-primary: #00B1B3;
	--ifm-color-primary-dark: #057E80;
	--ifm-color-primary-darker: #057E80;
	--ifm-color-primary-darkest: #0D5254;
	--ifm-color-primary-light: #057E80;
	--ifm-color-primary-lighter: #057E80;
	--ifm-color-primary-lightest: #00B1B3;

	/*font*/
	--ifm-font-family-base: "Inter", sans-serif;
	--font-slab: "Roboto Slab", serif;
	--text-3xl: 1.875rem;
	--text-2xl: 1.5rem;
	--text-xl: 1.25rem;
	--text-lg: 1.125rem;
	--text-base: 1rem;
	--text-sm: 0.875rem;
	--text-xs: 0.75rem;

	/* font size tailwind */
	--ifm-h1-font-size: var(--text-3xl);
	--ifm-h2-font-size: var(--text-2xl);
	--ifm-h3-font-size: var(--text-lg);
	--ifm-h4-font-size: var(--text-base);
	--ifm-h5-font-size: var(--text-sm);
	--ifm-h6-font-size: var(--text-xs);

	/* color slate tailwind*/
	--bg-slate-50: #f8fafc;
	--bg-slate-100: #f1f5f9;
	--bg-slate-200: #e2e8f0;
	--bg-slate-300: #cbd5e1;
	--bg-slate-400: #94a3b8;
	--bg-slate-500: #64748b;
	--bg-slate-600: #475569;
	--bg-slate-700: #334155;
	--bg-slate-800: #1e293b;
	--bg-slate-900: #0f172a;
	--bg-slate-950: #020617;

	--ifm-color-gray-100: var(--bg-slate-100);
	--ifm-color-gray-200: var(--bg-slate-200);

	--ifm-heading-color: var(--bg-slate-800);

	/* Spacing */

	/* Button */
	--ifm-button-color: #fff;
	--ifm-button-padding-vertical: .5rem;

	--ifm-toc-border-color: transparent;
	--ifm-breadcrumb-item-background-active: transparent;
	--ifm-breadcrumb-color-active: inherit;
	--ifm-breadcrumb-padding-horizontal: 0;

	/* Code */
	--ifm-code-font-size: 87.5%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, .1);

	/* Custom colors: from Tailwind */
	--color-blue: #3b82f6;
	--color-green: #22c55e;
	--color-amber: #f59e0b;
	--color-red: #ef4444;
	--color-cyan: #06b6d4;
	--color-pink: #ec4899;

	/* Meta Box blue shades */
	--color-base: var(--bg-slate-700);
	--color-dark: var(--bg-slate-800);
	--color-tutorial: #202E3C;

	--ifm-color-content: var(--bg-slate-200);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
	--ifm-navbar-background-color: var(--color-base);
	--ifm-footer-background-color: var(--color-base);
	--collapse-button-bg-color-dark: var(--color-base);
	--ifm-background-color: var(--color-dark);
	--ifm-navbar-search-input-background-color: var(--color-dark);

	--ifm-color-emphasis-100: var(--color-base);
	--ifm-color-emphasis-200: var(--color-base);

	--ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');

	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, .3);

	--color-tutorial: var(--ifm-font-color-base);

	--ifm-heading-color: #ffffff;
}

/* Colors */
.color-blue {
	--color: var(--color-blue);
}

.color-green {
	--color: var(--color-green);
}

.color-amber {
	--color: var(--color-amber);
}

.color-red {
	--color: var(--color-red);
}

.color-cyan {
	--color: var(--color-cyan);
}

.color-pink {
	--color: var(--color-pink);
}

/* Navbar */
.navbar {
	font-size: var(--ifm-h5-font-size);
}

.navbar__link--active {
	color: var(--ifm-navbar-link-color);
}

/* Homepage: hero section */
.hero {
	background: var(--ifm-color-emphasis-100);
	color: inherit;
	overflow: visible;
	text-align: center;
	position: relative;

	--search-local-modal-width: 100%;
}

[data-theme='dark'] .hero {
	--ifm-hero-text-color: #fff;
}

.hero .navbar__search {
	width: 40rem;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: var(--ifm-font-color-base);
	text-align: left;
}

.hero .navbar__search>span {
	width: 100%;
}

.hero .navbar__search-input {
	width: 100% !important;
	height: 3rem;
	padding-left: 3rem;
	background-position: 1.5rem center;
}

.hero .searchHintContainer_node_modules-\@easyops-cn-docusaurus-search-local-dist-client-client-theme-SearchBar-SearchBar-module {
	right: 1.5rem;
}

.hero .searchBar_node_modules-\@easyops-cn-docusaurus-search-local-dist-client-client-theme-SearchBar-SearchBar-module .dropdownMenu_node_modules-\@easyops-cn-docusaurus-search-local-dist-client-client-theme-SearchBar-SearchBar-module {
	left: 0 !important;
	right: 0 !important;
}

.hero__title {
	max-width: min(100%, 36ch);
	margin-inline: auto;
	font-family: var(--font-slab);
}

.hero_popular {
	margin-top: .5rem;
}

.hero_cta {
	margin-bottom: 4rem;
}

/* Menu */
.menu {
	--ifm-menu-color-background-active: transparent;
	--ifm-menu-color-active: var(--ifm-color-primary);
	--ifm-menu-color-background-hover: transparent;
	font-weight: 400;
}

.menu__link,
.menu__caret,
.menu__list-item-collapsible {
	outline: none;
}

.menu__caret:before,
.menu__link--sublist:after {
	background-size: 1.25rem 1.25rem;
}

.menu__caret {
	margin: 0;
}

.menu__caret:hover {
	background: none;
}

.menu__link {
	font-size: var(--ifm-h5-font-size);
	border-radius: 0;
}

.menu__list-item-collapsible>.menu__link {
	font-weight: 600;
	color: var(--ifm-font-color-base);
}

.menu__list-item.theme-doc-sidebar-item-category {
	margin-top: .5rem;
}

.theme-doc-sidebar-item-category-level-1>.menu__list-item-collapsible>.menu__link {
	text-transform: uppercase;
	font-size: var(--ifm-h6-font-size);
	letter-spacing: .05em;
}

.menu__list ul.menu__list {
	padding-left: 0;
	margin-left: var(--ifm-menu-link-padding-horizontal);
	border-left: 1px solid var(--ifm-color-emphasis-100);
}

.menu__list ul a {
	border-left: 1px solid transparent;
	margin-left: -1px;
}

/* Hover & active */
.menu__link:hover,
.menu__link--active,
.menu__list-item-collapsible>.menu__link:hover,
.menu__list-item-collapsible>.menu__link--active {
	color: var(--ifm-menu-color-active);
	border-left-color: var(--ifm-menu-color-active);
}


/* Content */
.container h1 {
	--ifm-h1-font-size: var(--text-3xl);
	font-family: var(--font-slab);
}

.markdown h1:first-child {
	--ifm-h1-font-size: var(--text-3xl);
}

.markdown>h2 {
	--ifm-h2-font-size: var(--text-2xl);
}

.markdown>h3 {
	--ifm-h3-font-size: var(--text-lg);
}

.markdown img {
	box-shadow: 0 0 2px rgba(0, 0, 0, .3);
	border-radius: var(--ifm-global-radius);
}

.markdown img {
	max-height: 400px;
	width: auto;
	display: block;
	margin-inline: auto;
	margin-bottom: var(--ifm-leading);
}

.markdown>p>img,
figure>img {
	cursor: zoom-in;
}

code {
	border: none;
	background: none;
	padding: 0;
	color: #e3116c;
}

html[data-theme='dark'] code {
	color: #c3e88d;
}

.yt-lite {
	margin-bottom: var(--ifm-paragraph-margin-bottom);
}

/* Field screenshots and settings in a gallery */
.gallery {
	display: flex;
	align-items: flex-start;
	gap: 2rem;
}

.gallery__col {
	flex: 1;
	width: 100%;
}

@media (max-width: 767px) {
	.gallery {
		flex-direction: column;
	}
}

figure {
	margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

figcaption {
	font-size: var(--ifm-h5-font-size);
	text-align: center;
}

.gallery img {
	margin-bottom: .5rem;
	width: 100%;
}

/* Table of contents */
.table-of-contents {
	--ifm-code-font-size: 100%;
}

/* Table */
table {
	display: table;
	width: 100%;
	font-size: var(--ifm-h5-font-size);
	--ifm-table-cell-padding: 6px 12px;
	--ifm-code-font-size: 100%;
}

table th,
table td {
	border: none;
}

table tr {
	border-top: none;
	border-bottom: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

table th {
	text-align: left;
}

/* Tabs */
.tabs-container {
	margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.tabs {
	gap: .25rem;
	z-index: 2;
	margin-bottom: -1px;
}

.tabs__item {
	--ifm-tabs-padding-vertical: 8px;
	--ifm-tabs-color-active: #fff;

	border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;
	border-bottom: none;
	background: var(--ifm-hover-overlay);
	font-weight: normal;
}

.tabs__item--active,
.tabs__item--active:hover {
	background: var(--ifm-tabs-color-active-border);
}

.tabs-container>div {
	margin-top: 0 !important;
	padding: 1rem 1rem 0 1rem;
	border: 1px solid var(--ifm-hover-overlay);
	z-index: 1;
}

.tabs-container table {
	margin-inline: -1rem;
	width: calc(100% + 2rem);
}

/* FAQ */
.faqLink {
	color: var(--ifm-color-secondary-darkest);
	font-size: var(--ifm-h5-font-size);
	text-decoration: none;
}

.faqLink:hover {
	text-decoration: none;
}

summary {
	font-weight: 700;
}

/* Field types thumbnails */
.thumbs {
	display: grid;
	grid-template-columns: repeat(auto-fit, 222px);
	gap: 2rem;
}

@media (max-width: 479px) {
	.thumbs {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

.thumbs p {
	margin-bottom: 0;
}

.thumbs a {
	display: block;
	font-size: var(--ifm-h4-font-size);
	color: #fff;
	font-weight: 700;
	border: 1px solid var(--color);
	border-radius: var(--ifm-global-radius);
	transition: all var(--ifm-transition-fast) ease;
}

.thumbs img {
	margin-bottom: 0;
	box-shadow: none;
	border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;
}

.thumb_text {
	text-align: center;
	display: block;
	padding: .5rem;
	background: var(--color);
	border-radius: 0 0 var(--ifm-global-radius) var(--ifm-global-radius);
	transition: all var(--ifm-transition-fast) ease;
}

.thumbs a:hover {
	text-decoration: none;
	box-shadow: var(--ifm-global-shadow-tl);
}

[data-theme='dark'] .thumbs a {
	border: none;
	display: inline-block;
}

/* Card */
.card.card,
.card.card:hover {
	border-color: transparent;
	background: none;
	box-shadow: none;
	padding: 1rem 0 !important;
}

.card.card h2 {
	transition: all var(--ifm-transition-fast) ease;
}

.card.card:hover h2 {
	color: var(--ifm-color-primary);
}

/* Alert */
.admonition {
	--ifm-color-info-dark: var(--color-blue);
	--ifm-color-warning-dark: var(--color-amber);
	--ifm-color-success-dark: var(--color-green);

	--ifm-alert-background-color: var(--ifm-alert-border-color);
	--ifm-alert-foreground-color: #fff;
}

.admonition a {
	--ifm-alert-border-color: #fff;
	font-weight: 700;
	font-style: italic;
}

.admonition code {
	color: inherit;
}

/* Homepage */
.boxes {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.boxWrapper {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
}

.box {
	font-size: var(--ifm-h4-font-size);
	border: 1px solid var(--color);
	border-radius: var(--ifm-global-radius);
	transition: all var(--ifm-transition-fast) ease;
}

.box header {
	color: #fff;
	background: var(--color);
	border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;
	padding: .75rem 1.5rem;
	font-size: var(--ifm-h5-font-size);
	transition: all var(--ifm-transition-fast) ease;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box h2 {
	text-transform: uppercase;
	font-size: var(--ifm-h5-font-size);
	margin: 0;
}

.box header a {
	color: #fff;
}

.box ul {
	margin: 0;
	padding: 1.5rem 1rem;
	list-style: none;
}

.box li {
	padding-left: 20px;
	background: url(/static/img/bx-chevron-right.svg) left center/18px no-repeat;
}

.box-start {
	--color: var(--color-blue);
}

.box-fields {
	--color: var(--color-green);
}

.box-extensions {
	--color: var(--color-amber);
}

.box-advanced {
	--color: var(--color-red);
}

.box-developer {
	--color: var(--color-cyan);
}

.box-references {
	--color: var(--color-pink);
}

.box-2 ul {
	columns: 2;
}

/* Footer */
.footer--dark {
	--ifm-footer-background-color: var(--color-base);
}

/* Pagination */
.pagination-nav {
	border-top: 1px solid var(--ifm-color-emphasis-100);
	padding-top: var(--ifm-global-spacing);
}

.pagination-nav__link {
	border: none;
	padding: 0;
}

/* Tutorials */
.tutorials h2,
.tutorials h3 {
	margin: 0;
}

.tutorials img {
	object-fit: cover;
	object-position: center;
	height: auto;
	border-radius: 0;
	box-shadow: unset;
}

.tutorials_banner img {
	margin: 0;
	float: left;
	max-height: unset;
}

.tutorials_banner .banner_left--item1 {
	grid-area: item1;
}

.tutorials_banner .banner_right--item2 {
	grid-area: item2;
}

.tutorials_banner .banner_right--item3 {
	grid-area: item3;
}

.tutorials_banner .banner_right--item4 {
	grid-area: item4;
}

.tutorials_banner {
	display: grid;
	grid-template-areas:
		'item1 item1 item2 item2'
		'item1 item1 item3 item4';
	grid-gap: 0.75rem;
}

.tutorials_trending {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 47px 0px;
	padding: 20px 22px;
	border: 1px solid #000;
}

html[data-theme='dark'] .tutorials_trending img {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

html[data-theme='dark'] .tutorials_trending .trending_category {
	background: #fff;
	color: #000;
}

html[data-theme='dark'] .tutorials_trending {
	border: 1px solid #fff;
}

.tutorials_trending img {
	margin-inline: unset;
	margin: 0;
}

.tutorials_trending .trending_category {
	display: inline-block;
	color: #fff;
	background: #000;
	font-size: var(--ifm-h2-font-size);
	font-weight: bold;
	padding: 0px 8px 4px 8px;
}

.tutorials_trending .trending_title {
	color: var(--color-tutorial);
	font-size: 16px;
	line-height: 19px;
	padding-left: 50px;
}

.tutorials_trending a:hover h2 {
	color: var(--ifm-menu-color-active);
}

.tutorials_trending .items {
	display: flex;
	align-items: center;
}

/* Category */
.tutorials_category {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.5rem;
	row-gap: 3rem;
}

.tutorials_category .items_heading {
	font-size: var(--ifm-h2-font-size);
	line-height: var(--ifm-heading-line-height);
	color: var(--ifm-menu-color-active);
	display: block;
	margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

.tutorials_category img {
	object-fit: cover;
	object-position: center;
	height: auto;
	border-radius: 0;
	box-shadow: unset;
	float: left;
	margin-bottom: 5px;
}

.category_wrap .tutorials_category {
	margin-top: 60px;
}

.tutorials_category .items_title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	color: #202E3C;
}

.tutorials_category ul {
	margin: 0;
	padding: 0;
	list-style-type: square;
	clear: both;
}

.tutorials_category ul li {
	position: relative;
	padding: 10px 15px;
	list-style-type: none;
	border-bottom: 1px solid #B4B4B4;
}

.tutorials_category ul li::before {
	content: "";
	width: 5px;
	height: 5px;
	background: var(--ifm-menu-color-active);
	position: absolute;
	left: 0px;
	top: 21px;
}

.tutorials_category ul li a {
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
	color: var(--color-tutorial);
	display: inline-block;
}

.tutorials_category ul li a:hover {
	color: var(--ifm-menu-color-active);
}

.tutorials_category--new {
	row-gap: 1.5rem;
}

.tutorials_category--new .items_titles {
	position: relative;
	color: var(--color-tutorial);
	padding: 15px 0px;
	margin: 0;
	clear: both;
}

.tutorials_category--new p :hover .items_titles {
	color: var(--ifm-menu-color-active);
}

/* footer */
.footer {
	padding-top: 0;
	padding-bottom: 0;
}

.footer__copyright {
	border-top: 1px solid #f8fafc52;
}

.footer__intro {
	grid-area: intro;
}

.footer__about {
	grid-area: about;
}

.footer__products {
	grid-area: products;
}

.footer__compare {
	grid-area: compare;
}

.footer__tools {
	grid-area: tools;
}

.footer__connect {
	grid-area: connect;
}

.footer-cols {
	grid-gap: 24px;
	grid-template-areas:
		"intro intro"
		"about tools"
		"products compare"
		"connect connect";
}

@media (min-width: 768px) {
	.footer-cols {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			"intro about products"
			"intro about compare"
			"tools connect connect";
	}

	.md-flex-row {
		flex-direction: row;
	}

	.md-text-left {
		text-align: left;
	}
}

@media (min-width: 1024px) {
	.footer-cols {
		grid-template-columns: repeat(5, 1fr);
		grid-template-areas:
			"intro about products tools connect"
			"intro about compare tools connect";
	}
}

/*Footer -  column */

html[data-theme='light'] .footer {
	background-color: var(--bg-slate-800);
}

@media (max-width: 1199px) {
	.tutorials_trending .trending_category {
		font-size: 18px;
	}

	.tutorials_trending .trending_title {
		padding-left: 35px;
	}

	.tutorials_trending .trending--third {
		display: none;
	}

	.tutorials_category .items_heading,
	.tutorials_category h2 {
		font-size: 18px;
		line-height: 22px;
	}
}

@media (max-width:1024px) {
	.tutorials_trending .trending_category {
		font-size: 1.5rem;
	}

	.tutorials_trending .trending_title {
		padding-left: 52px;
	}

	.tutorials_trending .trending--second {
		display: none;
	}

	.tutorials_category .items_heading,
	.tutorials_category h2 {
		font-size: var(--ifm-h2-font-size);
		line-height: var(--ifm-heading-line-height);
	}

	.tutorials_category {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media (max-width:767px) {
	.tutorials_banner {
		grid-template-areas: 'item1' 'item2' 'item3' 'item4';
	}

	.tutorials img {
		width: 100%;
		max-height: unset;
		height: auto;
	}

	.tutorials_trending {
		display: block;
		padding: 12px;
	}

	.tutorials_trending .trending_category {
		font-size: 22px;
	}

	.tutorials_trending img {
		display: none;
	}

	.tutorials_trending .items {
		display: block;
	}

	.tutorials_trending .trending_title {
		padding: 0;
		margin-top: 12px;
	}

	.tutorials_category {
		grid-template-columns: repeat(1, 1fr);
	}

	.tutorials_category img {
		width: 100%;
		max-height: unset;
		height: auto;
	}
}


/* Hide tutorial items */
.menu__list-item:nth-child(4) .menu__list>li:nth-child(n+7) {
	display: none;
}